<%= form_tag new_pin_url, remote: true, method: :get, class: 'new_pin' do%>
  <h4 class ="bottom_margin"> Добавть вещь из интернет магазина </h4>
  <div class="page-header add_url"></div>
 
  <div><%= label_tag "Введите ссылку" %>
  <%= text_field_tag :surl, params[:surl], placeholder: 'http://  ', 
  class: '_left search_rigt inp_width',  autocomplete: :off %></div>

  <div><%= button_tag "Далее", class: "btn",disabled: true %>
  </div>
<% end %>