<div class="hero-unit top_margin">
    <h3>Мы любим интересные и красивые вещи!</h3>
    <p>И знаем где их можно купить.</p>
    <p><%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-success" %> <%= link_to "Войти", new_user_session_path, class: "btn btn-info" %></p>
  </div>