/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .top_margin {
 	margin-top: 30px;
 }
 .well.pin_title{
 	padding-top: 5px;
 	padding-bottom: 5px;
 }
 .small_ava{
 	margin-top: -6px;
 	margin-bottom: -6px;
 	margin-right: 10px;
 }
 .clear {
 	clear: both;
 }
 .search_rigt {
 	margin-right: 10px;
 }
 .news {
 	margin-top: -40px;
 }
 
