/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .back_color{
 	background-color: #DCDCDC
 }
 .small_ava{
 	margin-top: -6px;
 	margin-bottom: -6px;
 	margin-right: 10px;
 }
 .clear {
 	clear: both;
 }
 .search_rigt {
 	margin-right: 10px;
 }
 .news {
 	margin-top: -40px;
 }
._left{
	float: left;
}
.dropdown-menu.larg_menu{
	min-width: 350px;
}
.second_column {
	margin-top: -27px;
	float: right;
}
.btn-info.block{
	display: block;
}
.hide {
    display: none;
}
._right{
	float: right;
}