.add_comment{
	width: 105px;
	height: 49px;
	margin-top: 5px;
	resize: none;
}
.hidden {
    display: none !important;
}
.comment_top{
	margin-top: 5px;
	margin-right: 10px;
}
.comment_destroy_style{
	color: #A7A7A7;
	&:hover{
		color: #A7A7A7;
		text-decoration: none;
	}
}
.comment_user_style{
	color: #696969;
	font-size: 12px;
	&:hover{
		color: #696969;
	}
}
.comment_comment_style{
	margin-bottom: 0px;
	font-size: 11px;
}
