.bottom_margin{
	margin-bottom: 0px;
}
.pin_block{
 	margin: 5px;
 	width: 183px
}
.new_pin{
	margin-left: 50px;
}
.well.pin_title{
 	padding-top: 5px;
 	padding-bottom: 5px;
 }
 .add_url{
 	margin-top: 0px;
 	margin-bottom: 10px;
 }
 .inp_width {
 	width: 370px;
 }
 .sub_pin{
 	margin-top: 30px; 
 	width: 120px;
 }
 .pin_div{
 	height: 415px;
 }
 .pin_img{
 	margin-left: 12px;
 }