  <div class="span3">
    <div class="well sidebar-nav top_margin">
      <h4>Лучшие пользователи</h4><br />
      <ul class="nav nav-list">
        <% @best_users.each do |user| %>
        <li class = "clear">
          <% if user.avatar? %>
            <%= image_tag(user.avatar_url(:small),class: "best_user avatar_left thumbnail") %>
          <% end %>
          <%= link_to user.first_name, user_url(user) %>
        </li>
        <% end %>        
      </ul>
    </div><!--/.well -->
  </div><!--/span-->