  <div class="span3">
    <div class="well sidebar-nav top_margin">
      <h4>Лучшие пользователи</h4><br />
      <ul class="nav nav-list">
        <% i=0
         while i < 3 %>
        <li class = "clear">
          <%= image_tag(@best_users[i].avatar_url(:small),class: "best_user avatar_left thumbnail") if @best_users[i].avatar? %>
          <%= link_to @best_users[i].first_name, user_url(@best_users[i]) %>
        </li>
        <% i+=1
            end %>
        
      </ul>
    </div><!--/.well -->
  </div><!--/span-->